# Site settings
title: Lawrence Aberba's Blog
description: 'Where I blog about tech and stuff once in a while.'
url: 'https://laberba.github.io'
baseurl: ''
# google_analytics: 'UA-XXXXXX-X'
disqus_shortname: 'laberba'

author:
  name: 'Lawrence Aberba'
  email: karabutaworld@gmail.com
  twitter_username: Laberba_
  facebook_username: aberbalawrence
  github_username:  laberba
#  linkedin_username:  joshgerdesb

defaults:
  -
    scope:
      path: ''
      type: 'posts'
    values:
        layout: 'post'

# Build settings
destination: _site
paginate: 10
permalink: /:year/:title/
markdown: kramdown
highlighter: rouge

kramdown:
  # use Github Flavored Markdown
  input: GFM
  # do not replace newlines by <br>s
  hard_wrap: false

gems: ['jekyll-paginate']
exclude: ['README.md', 'Gemfile', 'Gemfile.lock', 'screenshot.png']
