# Site settings
title: Lawrence Aberba
description: 'I'm a generalist full stack developer, open source contributor and an avid Linux user.'
url: 'aberba.com'
baseurl: '/'
# google_analytics: 'UA-XXXXXX-X'
disqus_shortname: 'laberba'

author:
  name: 'Lawrence Aberba'
  email: aberbamx@gmail.com
  twitter_username: aberbamx
  facebook_username: aberbalawrence
  github_username:  aberba
#  linkedin_username:  aberba

defaults:
  -
    scope:
      path: ''
      type: 'posts'
    values:
        layout: 'post'

# Build settings
destination: _site
paginate: 10
permalink: /:year/:title/
markdown: kramdown
highlighter: rouge

kramdown:
  # use Github Flavored Markdown
  input: GFM
  # do not replace newlines by <br>s
  hard_wrap: false

gems: ['jekyll-paginate']
exclude: ['README.md', 'Gemfile', 'Gemfile.lock', 'screenshot.png']
