---
layout: default
---
<h2>My Work:</h2>

<p> Over the years, I've designed and built several projects ranging from content driven websites to full-blown SaaS
    applications. Here is a chronological timeline of some projects I've worked on, <strong>excluding</strong> most of
    my contract work.</p>

<section class="portfolio">
    <section class="work">
        <div><img src="/images/portfolio/traction.png" /></div>
        <div>
            <h3>2021-present: Traction (Work in progress)</h3>
            <p>A place for developers. Connect with like-minded people to share, gain career opportunities and advance your potential.</p>
            <div class="tags"><a>Next.Js</a> <a>MongoDB</a></div>
            <p>Launching soon.</p>
        </div>
    </section>

    <section class="work">
        <div><img src="/images/portfolio/nnipa.png" /></div>
        <div>
            <h3>2020-present: Nnipa (Work in progress)</h3>
            <p>SaaS for sales businesses to acquire, manage and communicate with customers. Startup idea.</p>
            <div class="tags"><a>Next.Js</a> <a>MongoDB</a></div>
            <p><a href="https://nnipa.app">Check it out</a></p>
        </div>
    </section>

    <section class="work">
        <div><img src="/images/portfolio/scion-foundation.png" /></div>
        <div>
            <h3>2020: Scion Foundation</h3>
            <p>An aborted NGO website, rural education, health and livelihood. Contract work.</p>
            <div class="tags"><a>Landing Page</a> <a>Next.js</a></div>
            <p><a href="https://scion-foundation.now.sh">Check it out</a></p>
        </div>
    </section>

    <section class="work">
        <div><img src="/images/portfolio/haedanpa-suite.png" /></div>
        <div>
            <h3>2018-2019: HaeDanPa Suite</h3>
            <p>A SaaS for hotels to use HaeDanPa.com + a Contact Manager. Startup idea.</p>
            <div class="tags"><a>Node.Js</a> <a>React</a> <a>MongoDB</a></div>
        </div>
    </section>

    <section class="work">
        <div><img src="/images/portfolio/haedanpa.png" /></div>
        <div>
            <h3>2018: HaeDanPa</h3>
            <p>A platform for travellers to plan and budget trips. Startup idea.</p>
            <div class="tags"><a>PWA</a> <a>Node.Js</a> <a>React</a> <a>MongoDB</a></div>
        </div>
    </section>

    <section class="work">
        <div><img src="/images/portfolio/quertiv.jpeg" /></div>
        <div>
            <h3>2017: Quertiv</h3>
            <p>A platform for creative people to showcase their talent. Early phase startup idea.</p>
            <div class="tags"><a>Node.Js</a> <a>React</a> <a>MongoDB</a></div>
            <p><a href="https://github.com/aberba/quertiv">See the code code</a></p>
        </div>
    </section>

    <section class="work">
        <div><img src="/images/portfolio/opal-energy.jpeg" /></div>
        <div>
            <h3>2013-2014: Opal Energy Solutions</h3>
            <p>A Wordpress-like CMS built for a client. Contract.</p>
            <div class="tags"><a>E-commerce</a> <a>CMS</a> <a>PHP+MySQL</a></div>
            <p><a href="https://github.com/aberba/opal-energy">See the code code</a></p>
        </div>
    </section>

    <section class="work">
        <div><img src="/images/portfolio/campus-updates.png" /></div>
        <div>
            <h3>2012-2013: Campus Updates</h3>
            <p>A platform for campus news and updates. Newbie side project.</p>
            <div class="tags"> <a>Blog</a> <a>CMS</a> <a>PHP+MySQL</a></div>
            <p><a href="https://github.com/aberba/campus-updates">See the code code</a></p>
        </div>
    </section>

    <section class="work">
        <div><img src="/images/portfolio/knowsme.jpeg" /></div>
        <div>
            <h3>2012: knowsMe</h3>
            <p>My attempt to build a social media platform. Newbie idea.</p>
            <div class="tags"> <a>Social Media</a> <a>PHP+MySQL</a></div>
            <p><a href="https://github.com/aberba/knowsme">See the code code</a></p>
        </div>
    </section>
</section>